<!DOCTYPE html>
<!-- Template sourced from https://startbootstrap.com/theme/creative -->
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>The Place</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="The Place booking system" />
        <meta name="author" content="CoDoer" />
        
        <!-- Favicon source: https://icons8.com -->
         <link rel="shortcut icon" href="{% static 'bookings/assets/favicon.ico' %}" type="image/x-icon" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'bookings/css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'bookings/css/customized-styles.css' %}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{%url 'bookings:main_page'%}"><i class="bi bi-hand-thumbs-up-fill fs-3 text-primary"></i>&nbsp;&nbsp;The Place</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        {% if request.path != '/' %}
                            <li class="nav-item"><a class="nav-link" href="{%url 'bookings:main_page'%}">Home</a></li>
                        {% endif %}
                        <li class="nav-item"><a class="nav-link" href="{%url 'bookings:main_page'%}#services">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="{%url 'bookings:main_page'%}#portfolio">Menu</a></li>
                        <li class="nav-item"><a class="nav-link" href="{%url 'bookings:book_page'%}?date={% now "Y-m-d"%}">Book</a></li>
                        {% if user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'account_logout' %}">Logout</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'account_signup' %}">Register</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
                {% block header %}
                {% endblock %}
        </header>
        <!-- About-->
        {% block content %}
        {% endblock %}
        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2024 - CoDoer</div></div>
        </footer>
        <!-- Bootstrap core JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS -->
        <script src="{% static 'bookings/js/scripts.js'%}"></script>
        <script src="{% static 'bookings/js/project.js'%}"></script>
    </body>
</html>
